.landing-page {
    height: 100vh;
    width: 100vw;
}

h1 {

}

.set-game-up-form {

}

.name-input-holder {

}

.name-label {

}

.name-input {

}

.select-diff {

}

.play-btn {
    cursor: pointer;
}